*{
  box-sizing: border-box;
  margin: 0px;
  background-color:aquamarine;
}
h1{
  text-align:center;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
.botaao{
  display: block; 
}
#data{
  font-size:19px;
  background-color: whitesmoke;
}
p{
  font-size:25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#bts{
  font-size:17px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 10px;
  background-color:lightcoral;
  padding:4px;
  margin-left: 100px;
}
.container{
  height:90vh;
  width:40vw;
}
#texto{
  height:auto;
  width:40vw;
  font-size:19px;
  border: 1px solid black;
  padding:10px;
  margin:10px;
  border-radius: 10px;
}
#imagem{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
footer{
  text-align: center;
  font-size:18px;
}